In [1]:
import pandas as pd

In [2]:
xml = pd.read_table("../data/app_bib_2017/ipab20170105.xml", header=None)

In [3]:
xml.head()

                                                   0
0             <?xml version="1.0" encoding="UTF-8"?>
1  <!DOCTYPE us-patent-application SYSTEM "us-pat...
2  <us-patent-application lang="EN" dtd-version="...
3  <us-bibliographic-data-application lang="EN" c...
4                            <publication-reference>

In [4]:
xml[0].str.contains('<publication-reference>')

0          False
1          False
2          False
3          False
4           True
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
27         False
28         False
29         False
           ...
1565418    False
1565419    False
1565420    False
1565421    False
1565422    False
1565423    False
1565424    False
1565425    False
1565426    False
1565427    False
1565428    False
1565429    False
1565430    False
1565431    False
1565432    False
1565433    False
1565434    False
1565435    False
1565436    False
1565437    False
1565438    False
1565439    False
1565440    False
1565441    False
1565442    False
1565443    False
1565444    False
1565445    False
1565446    False
1565447    False
Name: 0, Length: 1565448, dtype: bool

In [5]:
mask = xml[0].str.contains('<publication-reference>')

In [6]:
add = [False, False, False]

In [7]:
add_df = pd.Series(add)

In [8]:
add_df

0    False
1    False
2    False
dtype: bool

In [9]:
mask_pgpub = pd.concat([add_df, mask])

In [10]:
mask_pgpub

0          False
1          False
2          False
0          False
1          False
2          False
3          False
4           True
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
           ...
1565418    False
1565419    False
1565420    False
1565421    False
1565422    False
1565423    False
1565424    False
1565425    False
1565426    False
1565427    False
1565428    False
1565429    False
1565430    False
1565431    False
1565432    False
1565433    False
1565434    False
1565435    False
1565436    False
1565437    False
1565438    False
1565439    False
1565440    False
1565441    False
1565442    False
1565443    False
1565444    False
1565445    False
1565446    False
1565447    False
Length: 1565451, dtype: bool

In [11]:
mask_pgpub = mask_pgpub.reset_index(drop = True)

In [12]:
mask_pgpub

0          False
1          False
2          False
3          False
4          False
5          False
6          False
7           True
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
27         False
28         False
29         False
           ...
1565421    False
1565422    False
1565423    False
1565424    False
1565425    False
1565426    False
1565427    False
1565428    False
1565429    False
1565430    False
1565431    False
1565432    False
1565433    False
1565434    False
1565435    False
1565436    False
1565437    False
1565438    False
1565439    False
1565440    False
1565441    False
1565442    False
1565443    False
1565444    False
1565445    False
1565446    False
1565447    False
1565448    False
1565449    False
1565450    False
Length: 1565451, dtype: bool

In [13]:
xml_pgpub = xml[0].where(mask_pgpub)

In [14]:
xml_pgpub

0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
5                                           NaN
6                                           NaN
7          <doc-number>20170000001</doc-number>
8                                           NaN
9                                           NaN
10                                          NaN
11                                          NaN
12                                          NaN
13                                          NaN
14                                          NaN
15                                          NaN
16                                          NaN
17                                          NaN
18                                          NaN
19                                          NaN
20                                          NaN
21                                          NaN
22                                          NaN
23                                          NaN
24                                          NaN
25                                          NaN
26                                          NaN
27                                          NaN
28                                          NaN
29                                          NaN
                           ...
1565418                                     NaN
1565419                                     NaN
1565420                                     NaN
1565421                                     NaN
1565422                                     NaN
1565423                                     NaN
1565424                                     NaN
1565425                                     NaN
1565426                                     NaN
1565427                                     NaN
1565428                                     NaN
1565429                                     NaN
1565430                                     NaN
1565431                                     NaN
1565432                                     NaN
1565433                                     NaN
1565434                                     NaN
1565435                                     NaN
1565436                                     NaN
1565437                                     NaN
1565438                                     NaN
1565439                                     NaN
1565440                                     NaN
1565441                                     NaN
1565442                                     NaN
1565443                                     NaN
1565444                                     NaN
1565445                                     NaN
1565446                                     NaN
1565447                                     NaN
Name: 0, Length: 1565448, dtype: object

In [15]:
xml_pgpub = xml_pgpub.dropna(how = all)

In [16]:
xml_pgpub

7          <doc-number>20170000001</doc-number>
125        <doc-number>20170000002</doc-number>
400        <doc-number>20170000003</doc-number>
642        <doc-number>20170000004</doc-number>
800        <doc-number>20170000005</doc-number>
978        <doc-number>20170000006</doc-number>
1167       <doc-number>20170000007</doc-number>
1356       <doc-number>20170000008</doc-number>
1556       <doc-number>20170000009</doc-number>
1745       <doc-number>20170000010</doc-number>
1945       <doc-number>20170000011</doc-number>
2153       <doc-number>20170000012</doc-number>
2283       <doc-number>20170000013</doc-number>
2453       <doc-number>20170000014</doc-number>
2623       <doc-number>20170000015</doc-number>
2812       <doc-number>20170000016</doc-number>
2949       <doc-number>20170000017</doc-number>
3086       <doc-number>20170000018</doc-number>
3202       <doc-number>20170000019</doc-number>
3350       <doc-number>20170000020</doc-number>
3477       <doc-number>20170000021</doc-number>
3786       <doc-number>20170000022</doc-number>
3947       <doc-number>20170000023</doc-number>
4147       <doc-number>20170000024</doc-number>
4317       <doc-number>20170000025</doc-number>
4489       <doc-number>20170000026</doc-number>
4794       <doc-number>20170000027</doc-number>
4887       <doc-number>20170000028</doc-number>
5076       <doc-number>20170000029</doc-number>
5278       <doc-number>20170000030</doc-number>
                           ...
1560715    <doc-number>20170006727</doc-number>
1560926    <doc-number>20170006728</doc-number>
1561122    <doc-number>20170006729</doc-number>
1561282    <doc-number>20170006730</doc-number>
1561445    <doc-number>20170006731</doc-number>
1561635    <doc-number>20170006732</doc-number>
1561804    <doc-number>20170006733</doc-number>
1561980    <doc-number>20170006734</doc-number>
1562121    <doc-number>20170006735</doc-number>
1562406    <doc-number>20170006736</doc-number>
1562637    <doc-number>20170006737</doc-number>
1562844    <doc-number>20170006738</doc-number>
1563085    <doc-number>20170006739</doc-number>
1563228    <doc-number>20170006740</doc-number>
1563522    <doc-number>20170006741</doc-number>
1563882    <doc-number>20170006742</doc-number>
1564021    <doc-number>20170006743</doc-number>
1564137    <doc-number>20170006744</doc-number>
1564237    <doc-number>20170006745</doc-number>
1564337    <doc-number>20170006746</doc-number>
1564437    <doc-number>20170006747</doc-number>
1564553    <doc-number>20170006748</doc-number>
1564648    <doc-number>20170006749</doc-number>
1564743    <doc-number>20170006750</doc-number>
1564838    <doc-number>20170006751</doc-number>
1564958    <doc-number>20170006752</doc-number>
1565078    <doc-number>20170006753</doc-number>
1565173    <doc-number>20170006754</doc-number>
1565275    <doc-number>20170006755</doc-number>
1565354    <doc-number>20170006756</doc-number>
Name: 0, Length: 6755, dtype: object

In [17]:
xml[0].str.contains('<application-reference appl-type="utility">').head(50)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: 0, dtype: bool

In [18]:
mask_app = pd.concat([add_df, xml[0].str.contains('<application-reference appl-type="utility">')])

In [19]:
mask_app

0          False
1          False
2          False
0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12          True
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
           ...
1565418    False
1565419    False
1565420    False
1565421    False
1565422    False
1565423    False
1565424    False
1565425    False
1565426    False
1565427    False
1565428    False
1565429    False
1565430    False
1565431    False
1565432    False
1565433    False
1565434    False
1565435    False
1565436    False
1565437    False
1565438    False
1565439    False
1565440    False
1565441    False
1565442    False
1565443    False
1565444    False
1565445    False
1565446    False
1565447    False
Length: 1565451, dtype: bool

In [20]:
mask_app = mask_app.reset_index(drop = True)

In [21]:
mask_app

0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15          True
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
27         False
28         False
29         False
           ...
1565421    False
1565422    False
1565423    False
1565424    False
1565425    False
1565426    False
1565427    False
1565428    False
1565429    False
1565430    False
1565431    False
1565432    False
1565433    False
1565434    False
1565435    False
1565436    False
1565437    False
1565438    False
1565439    False
1565440    False
1565441    False
1565442    False
1565443    False
1565444    False
1565445    False
1565446    False
1565447    False
1565448    False
1565449    False
1565450    False
Length: 1565451, dtype: bool

In [22]:
xml_app = xml[0].where(mask_app)

In [23]:
xml_app

0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN
5                                        NaN
6                                        NaN
7                                        NaN
8                                        NaN
9                                        NaN
10                                       NaN
11                                       NaN
12                                       NaN
13                                       NaN
14                                       NaN
15         <doc-number>14789882</doc-number>
16                                       NaN
17                                       NaN
18                                       NaN
19                                       NaN
20                                       NaN
21                                       NaN
22                                       NaN
23                                       NaN
24                                       NaN
25                                       NaN
26                                       NaN
27                                       NaN
28                                       NaN
29                                       NaN
                         ...
1565418                                  NaN
1565419                                  NaN
1565420                                  NaN
1565421                                  NaN
1565422                                  NaN
1565423                                  NaN
1565424                                  NaN
1565425                                  NaN
1565426                                  NaN
1565427                                  NaN
1565428                                  NaN
1565429                                  NaN
1565430                                  NaN
1565431                                  NaN
1565432                                  NaN
1565433                                  NaN
1565434                                  NaN
1565435                                  NaN
1565436                                  NaN
1565437                                  NaN
1565438                                  NaN
1565439                                  NaN
1565440                                  NaN
1565441                                  NaN
1565442                                  NaN
1565443                                  NaN
1565444                                  NaN
1565445                                  NaN
1565446                                  NaN
1565447                                  NaN
Name: 0, Length: 1565448, dtype: object

In [24]:
xml_app = xml_app.dropna(how = all)

In [25]:
xml_app

15         <doc-number>14789882</doc-number>
133        <doc-number>14755945</doc-number>
408        <doc-number>14755919</doc-number>
650        <doc-number>14755034</doc-number>
808        <doc-number>14788318</doc-number>
986        <doc-number>14788216</doc-number>
1175       <doc-number>14755816</doc-number>
1364       <doc-number>14755741</doc-number>
1564       <doc-number>14755013</doc-number>
1753       <doc-number>14788246</doc-number>
1953       <doc-number>15265874</doc-number>
2161       <doc-number>15266111</doc-number>
2291       <doc-number>14788087</doc-number>
2461       <doc-number>14754811</doc-number>
2631       <doc-number>14755890</doc-number>
2820       <doc-number>14755045</doc-number>
2957       <doc-number>14788287</doc-number>
3094       <doc-number>14755409</doc-number>
3210       <doc-number>14755111</doc-number>
3358       <doc-number>14755552</doc-number>
3485       <doc-number>15145531</doc-number>
3794       <doc-number>15190652</doc-number>
3955       <doc-number>15232839</doc-number>
4155       <doc-number>14790906</doc-number>
4325       <doc-number>15258406</doc-number>
4497       <doc-number>15199032</doc-number>
4802       <doc-number>14545890</doc-number>
4895       <doc-number>15192631</doc-number>
5084       <doc-number>15269151</doc-number>
5286       <doc-number>15113598</doc-number>
                         ...
1558041    <doc-number>15122171</doc-number>
1558231    <doc-number>15168533</doc-number>
1558430    <doc-number>15264771</doc-number>
1558769    <doc-number>14290834</doc-number>
1558977    <doc-number>15113653</doc-number>
1559169    <doc-number>15134680</doc-number>
1559318    <doc-number>14790285</doc-number>
1559411    <doc-number>15176211</doc-number>
1559627    <doc-number>15200199</doc-number>
1559880    <doc-number>15197012</doc-number>
1560043    <doc-number>15196330</doc-number>
1560334    <doc-number>14975689</doc-number>
1560548    <doc-number>15109717</doc-number>
1560723    <doc-number>15192295</doc-number>
1560934    <doc-number>14806192</doc-number>
1561130    <doc-number>15188482</doc-number>
1561290    <doc-number>15114217</doc-number>
1561453    <doc-number>15104007</doc-number>
1561643    <doc-number>14927975</doc-number>
1561812    <doc-number>15039973</doc-number>
1561988    <doc-number>14797914</doc-number>
1562129    <doc-number>15115098</doc-number>
1562414    <doc-number>15201347</doc-number>
1562645    <doc-number>15269501</doc-number>
1562852    <doc-number>14882168</doc-number>
1563093    <doc-number>15199354</doc-number>
1563236    <doc-number>15193810</doc-number>
1563530    <doc-number>15100283</doc-number>
1563890    <doc-number>15265021</doc-number>
1564029    <doc-number>15107373</doc-number>
Name: 0, Length: 6742, dtype: object

In [26]:
xml_pgpub_num = xml_pgpub.str[12:23]

In [27]:
type(xml_pgpub_num.index.values.tolist())

list

In [28]:
xml_pgpub_df = pd.DataFrame(xml_pgpub_num)

In [29]:
xml_pgpub_df

                   0
7        20170000001
125      20170000002
400      20170000003
642      20170000004
800      20170000005
978      20170000006
1167     20170000007
1356     20170000008
1556     20170000009
1745     20170000010
1945     20170000011
2153     20170000012
2283     20170000013
2453     20170000014
2623     20170000015
2812     20170000016
2949     20170000017
3086     20170000018
3202     20170000019
3350     20170000020
3477     20170000021
3786     20170000022
3947     20170000023
4147     20170000024
4317     20170000025
4489     20170000026
4794     20170000027
4887     20170000028
5076     20170000029
5278     20170000030
...              ...
1560715  20170006727
1560926  20170006728
1561122  20170006729
1561282  20170006730
1561445  20170006731
1561635  20170006732
1561804  20170006733
1561980  20170006734
1562121  20170006735
1562406  20170006736
1562637  20170006737
1562844  20170006738
1563085  20170006739
1563228  20170006740
1563522  20170006741
1563882  20170006742
1564021  20170006743
1564137  20170006744
1564237  20170006745
1564337  20170006746
1564437  20170006747
1564553  20170006748
1564648  20170006749
1564743  20170006750
1564838  20170006751
1564958  20170006752
1565078  20170006753
1565173  20170006754
1565275  20170006755
1565354  20170006756

[6755 rows x 1 columns]

In [30]:
xml_pgpub_df[1] = xml_pgpub_num.index.values.tolist()

In [31]:
xml_pgpub_df = xml_pgpub_df.reset_index(drop = True)

In [32]:
xml_pgpub_df

                0        1
0     20170000001        7
1     20170000002      125
2     20170000003      400
3     20170000004      642
4     20170000005      800
5     20170000006      978
6     20170000007     1167
7     20170000008     1356
8     20170000009     1556
9     20170000010     1745
10    20170000011     1945
11    20170000012     2153
12    20170000013     2283
13    20170000014     2453
14    20170000015     2623
15    20170000016     2812
16    20170000017     2949
17    20170000018     3086
18    20170000019     3202
19    20170000020     3350
20    20170000021     3477
21    20170000022     3786
22    20170000023     3947
23    20170000024     4147
24    20170000025     4317
25    20170000026     4489
26    20170000027     4794
27    20170000028     4887
28    20170000029     5076
29    20170000030     5278
...           ...      ...
6725  20170006727  1560715
6726  20170006728  1560926
6727  20170006729  1561122
6728  20170006730  1561282
6729  20170006731  1561445
6730  20170006732  1561635
6731  20170006733  1561804
6732  20170006734  1561980
6733  20170006735  1562121
6734  20170006736  1562406
6735  20170006737  1562637
6736  20170006738  1562844
6737  20170006739  1563085
6738  20170006740  1563228
6739  20170006741  1563522
6740  20170006742  1563882
6741  20170006743  1564021
6742  20170006744  1564137
6743  20170006745  1564237
6744  20170006746  1564337
6745  20170006747  1564437
6746  20170006748  1564553
6747  20170006749  1564648
6748  20170006750  1564743
6749  20170006751  1564838
6750  20170006752  1564958
6751  20170006753  1565078
6752  20170006754  1565173
6753  20170006755  1565275
6754  20170006756  1565354

[6755 rows x 2 columns]

In [33]:
xml_app_num = xml_app.str[12:20]

In [34]:
xml_app_df = pd.DataFrame(xml_app_num)

In [35]:
xml_app_df

                0
15       14789882
133      14755945
408      14755919
650      14755034
808      14788318
986      14788216
1175     14755816
1364     14755741
1564     14755013
1753     14788246
1953     15265874
2161     15266111
2291     14788087
2461     14754811
2631     14755890
2820     14755045
2957     14788287
3094     14755409
3210     14755111
3358     14755552
3485     15145531
3794     15190652
3955     15232839
4155     14790906
4325     15258406
4497     15199032
4802     14545890
4895     15192631
5084     15269151
5286     15113598
...           ...
1558041  15122171
1558231  15168533
1558430  15264771
1558769  14290834
1558977  15113653
1559169  15134680
1559318  14790285
1559411  15176211
1559627  15200199
1559880  15197012
1560043  15196330
1560334  14975689
1560548  15109717
1560723  15192295
1560934  14806192
1561130  15188482
1561290  15114217
1561453  15104007
1561643  14927975
1561812  15039973
1561988  14797914
1562129  15115098
1562414  15201347
1562645  15269501
1562852  14882168
1563093  15199354
1563236  15193810
1563530  15100283
1563890  15265021
1564029  15107373

[6742 rows x 1 columns]

In [36]:
xml_app_df[1] = xml_app_num.index.values.tolist()

In [37]:
xml_app_df

                0        1
15       14789882       15
133      14755945      133
408      14755919      408
650      14755034      650
808      14788318      808
986      14788216      986
1175     14755816     1175
1364     14755741     1364
1564     14755013     1564
1753     14788246     1753
1953     15265874     1953
2161     15266111     2161
2291     14788087     2291
2461     14754811     2461
2631     14755890     2631
2820     14755045     2820
2957     14788287     2957
3094     14755409     3094
3210     14755111     3210
3358     14755552     3358
3485     15145531     3485
3794     15190652     3794
3955     15232839     3955
4155     14790906     4155
4325     15258406     4325
4497     15199032     4497
4802     14545890     4802
4895     15192631     4895
5084     15269151     5084
5286     15113598     5286
...           ...      ...
1558041  15122171  1558041
1558231  15168533  1558231
1558430  15264771  1558430
1558769  14290834  1558769
1558977  15113653  1558977
1559169  15134680  1559169
1559318  14790285  1559318
1559411  15176211  1559411
1559627  15200199  1559627
1559880  15197012  1559880
1560043  15196330  1560043
1560334  14975689  1560334
1560548  15109717  1560548
1560723  15192295  1560723
1560934  14806192  1560934
1561130  15188482  1561130
1561290  15114217  1561290
1561453  15104007  1561453
1561643  14927975  1561643
1561812  15039973  1561812
1561988  14797914  1561988
1562129  15115098  1562129
1562414  15201347  1562414
1562645  15269501  1562645
1562852  14882168  1562852
1563093  15199354  1563093
1563236  15193810  1563236
1563530  15100283  1563530
1563890  15265021  1563890
1564029  15107373  1564029

[6742 rows x 2 columns]

In [38]:
type(xml_app_df[1][15])

numpy.int64

In [39]:
xml_app_df[1] = xml_app_df[1] -8

In [40]:
xml_app_df

                0        1
15       14789882        7
133      14755945      125
408      14755919      400
650      14755034      642
808      14788318      800
986      14788216      978
1175     14755816     1167
1364     14755741     1356
1564     14755013     1556
1753     14788246     1745
1953     15265874     1945
2161     15266111     2153
2291     14788087     2283
2461     14754811     2453
2631     14755890     2623
2820     14755045     2812
2957     14788287     2949
3094     14755409     3086
3210     14755111     3202
3358     14755552     3350
3485     15145531     3477
3794     15190652     3786
3955     15232839     3947
4155     14790906     4147
4325     15258406     4317
4497     15199032     4489
4802     14545890     4794
4895     15192631     4887
5084     15269151     5076
5286     15113598     5278
...           ...      ...
1558041  15122171  1558033
1558231  15168533  1558223
1558430  15264771  1558422
1558769  14290834  1558761
1558977  15113653  1558969
1559169  15134680  1559161
1559318  14790285  1559310
1559411  15176211  1559403
1559627  15200199  1559619
1559880  15197012  1559872
1560043  15196330  1560035
1560334  14975689  1560326
1560548  15109717  1560540
1560723  15192295  1560715
1560934  14806192  1560926
1561130  15188482  1561122
1561290  15114217  1561282
1561453  15104007  1561445
1561643  14927975  1561635
1561812  15039973  1561804
1561988  14797914  1561980
1562129  15115098  1562121
1562414  15201347  1562406
1562645  15269501  1562637
1562852  14882168  1562844
1563093  15199354  1563085
1563236  15193810  1563228
1563530  15100283  1563522
1563890  15265021  1563882
1564029  15107373  1564021

[6742 rows x 2 columns]

In [41]:
app_pgpub_df = pd.merge(xml_app_df, xml_pgpub_df, on = 1)

In [42]:
app_pgpub_df

           0_x        1          0_y
0     14789882        7  20170000001
1     14755945      125  20170000002
2     14755919      400  20170000003
3     14755034      642  20170000004
4     14788318      800  20170000005
5     14788216      978  20170000006
6     14755816     1167  20170000007
7     14755741     1356  20170000008
8     14755013     1556  20170000009
9     14788246     1745  20170000010
10    15265874     1945  20170000011
11    15266111     2153  20170000012
12    14788087     2283  20170000013
13    14754811     2453  20170000014
14    14755890     2623  20170000015
15    14755045     2812  20170000016
16    14788287     2949  20170000017
17    14755409     3086  20170000018
18    14755111     3202  20170000019
19    14755552     3350  20170000020
20    15145531     3477  20170000021
21    15190652     3786  20170000022
22    15232839     3947  20170000023
23    14790906     4147  20170000024
24    15258406     4317  20170000025
25    15199032     4489  20170000026
26    14545890     4794  20170000027
27    15192631     4887  20170000028
28    15269151     5076  20170000029
29    15113598     5278  20170000030
...        ...      ...          ...
6712  15122171  1558033  20170006714
6713  15168533  1558223  20170006715
6714  15264771  1558422  20170006716
6715  14290834  1558761  20170006717
6716  15113653  1558969  20170006718
6717  15134680  1559161  20170006719
6718  14790285  1559310  20170006720
6719  15176211  1559403  20170006721
6720  15200199  1559619  20170006722
6721  15197012  1559872  20170006723
6722  15196330  1560035  20170006724
6723  14975689  1560326  20170006725
6724  15109717  1560540  20170006726
6725  15192295  1560715  20170006727
6726  14806192  1560926  20170006728
6727  15188482  1561122  20170006729
6728  15114217  1561282  20170006730
6729  15104007  1561445  20170006731
6730  14927975  1561635  20170006732
6731  15039973  1561804  20170006733
6732  14797914  1561980  20170006734
6733  15115098  1562121  20170006735
6734  15201347  1562406  20170006736
6735  15269501  1562637  20170006737
6736  14882168  1562844  20170006738
6737  15199354  1563085  20170006739
6738  15193810  1563228  20170006740
6739  15100283  1563522  20170006741
6740  15265021  1563882  20170006742
6741  15107373  1564021  20170006743

[6742 rows x 3 columns]

In [43]:
app_pgpub_df = app_pgpub_df.rename(columns={'0_x': 'app_num', '0_y': 'pgpub_num'})

In [44]:
app_pgpub_df

       app_num        1    pgpub_num
0     14789882        7  20170000001
1     14755945      125  20170000002
2     14755919      400  20170000003
3     14755034      642  20170000004
4     14788318      800  20170000005
5     14788216      978  20170000006
6     14755816     1167  20170000007
7     14755741     1356  20170000008
8     14755013     1556  20170000009
9     14788246     1745  20170000010
10    15265874     1945  20170000011
11    15266111     2153  20170000012
12    14788087     2283  20170000013
13    14754811     2453  20170000014
14    14755890     2623  20170000015
15    14755045     2812  20170000016
16    14788287     2949  20170000017
17    14755409     3086  20170000018
18    14755111     3202  20170000019
19    14755552     3350  20170000020
20    15145531     3477  20170000021
21    15190652     3786  20170000022
22    15232839     3947  20170000023
23    14790906     4147  20170000024
24    15258406     4317  20170000025
25    15199032     4489  20170000026
26    14545890     4794  20170000027
27    15192631     4887  20170000028
28    15269151     5076  20170000029
29    15113598     5278  20170000030
...        ...      ...          ...
6712  15122171  1558033  20170006714
6713  15168533  1558223  20170006715
6714  15264771  1558422  20170006716
6715  14290834  1558761  20170006717
6716  15113653  1558969  20170006718
6717  15134680  1559161  20170006719
6718  14790285  1559310  20170006720
6719  15176211  1559403  20170006721
6720  15200199  1559619  20170006722
6721  15197012  1559872  20170006723
6722  15196330  1560035  20170006724
6723  14975689  1560326  20170006725
6724  15109717  1560540  20170006726
6725  15192295  1560715  20170006727
6726  14806192  1560926  20170006728
6727  15188482  1561122  20170006729
6728  15114217  1561282  20170006730
6729  15104007  1561445  20170006731
6730  14927975  1561635  20170006732
6731  15039973  1561804  20170006733
6732  14797914  1561980  20170006734
6733  15115098  1562121  20170006735
6734  15201347  1562406  20170006736
6735  15269501  1562637  20170006737
6736  14882168  1562844  20170006738
6737  15199354  1563085  20170006739
6738  15193810  1563228  20170006740
6739  15100283  1563522  20170006741
6740  15265021  1563882  20170006742
6741  15107373  1564021  20170006743

[6742 rows x 3 columns]

In [45]:
app_pgpub_df.to_csv('../data/app2017_pgpub_correspondence.csv')